#-c constraints.in # <-- contains known limitations

# staticjinja generates html from templates
staticjinja>=4.1.3
# pyyaml loads page data from yaml files
pyyaml
# libsass compiles sass files to css
libsass
