cairosvg
markdown==3.3.7
markdown-exec==1.6.0
markdown-include==0.8.1
mkdocs==1.4.3
mkdocs-ansible==0.1.6
mkdocs-autorefs==0.4.1
mkdocs-gen-files==0.5.0
mkdocs-htmlproofer-plugin==0.13.1
mkdocs-material==9.1.15
mkdocs-material-extensions==1.1.1
mkdocs-minify-plugin==0.6.4
mkdocs-monorepo-plugin==1.0.5
mkdocstrings==0.22.0
mkdocstrings-python==1.1.0
pillow==9.5.0
pipdeptree==2.7.1
pymdown-extensions==10.0.1
